<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096839077520-6hpog910tnbg4tq56npv7gsqedtc4qso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096839077520-6hpog910tnbg4tq56npv7gsqedtc4qso</string>
	<key>API_KEY</key>
	<string>AIzaSyC--VSa8uNKbgSnCneEwEXNgh-UXbySTZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1096839077520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.application</string>
	<key>PROJECT_ID</key>
	<string>isp-management-a4dc0</string>
	<key>STORAGE_BUCKET</key>
	<string>isp-management-a4dc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096839077520:ios:c90b00f86a7d1160d28215</string>
</dict>
</plist>